body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 970px;
    height: 250px;
    overflow: hidden;
    color: #fff;
    background: #00b6ed;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #00b6ed;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #202b78;
    border-top: 3px solid #c51718;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#border{
    width: 100%;
    height: 100%;
    border: solid 1px #000;
    box-sizing: border-box;
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#wText{
    bottom: -1px;
    right: 2px;
    font-family: Arial;
    font-size: 14px;
}

#sticker,
#logo,
#destination,
#usp1,
#usp2,
#usp3,
#usp4,
#text1,
#hand,
#bg,
#travelLogo{
    width: 100%;
}

#usp1{transform-origin: 239px 69px;}
#usp2{transform-origin: 239px 107px;}
#usp3{transform-origin: 239px 148px;}
#usp4{transform-origin: 239px 186px;}

#destWrapper{
    width: 100%;
    height: 163px;
    overflow: hidden;
}

#price{
    width: 100%;
    transform-origin: 296px 166px;
}

#ctaLeft,
#ctaRight{
    width: 100%;
    transform-origin: 90% 95%;
}

#bluePanel{
    width: 335px;
    height: 167px;
    border-radius: 9px;
    background: #202b78;
    top: 41px;
    left: 216px;
}