body{
    margin: 0;
}

@font-face {
    font-family: 'nn_nitti_groteskheading';
    src: url('nnnittigrotesk-heading-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nn_nitti_grotesktext_regular';
    src: url('nnnittigrotesk-textregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

img, div, object{
    position: absolute;
}

#banner{
    width: 970px;
    height: 250px;
    border: 1px solid #ee7e00;
    box-sizing: border-box;
    overflow: hidden;
    color: #fff;
    font-family: 'nn_nitti_groteskheading';
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #da6d2e;;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #000;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#bg{
    width: 100%;
}

#logoWrapper{
    width: 507px;
    height: 228px;
    background: #fff;
    border-radius: 4px;
    right: 11px;
    bottom: 10px;
}

#logo{
    bottom: 50px;
    right: 48px;
    width: 160px;
}

#cta{
    background: #ea650d;
    right: 40px;
    top: 54px;
    font-size: 17px;
    height: 46px;
    width: 172px;
    line-height: 46px;
    text-align: center;
    border-radius: 5px;
}

#text1,
#text2{
    color: #ee7e00;
    left: 36px;
    top: 74px;
    font-size: 28px;
    line-height: 1.1;
}

#text2{
    top: 20px;
}

.darker{color: #ea650e;}
.darkest{color: #e64415;}

#endText{
    color: #000;
    left: 36px;
    top: 123px;
    font-size: 20px;
    line-height: 1.1;
    font-family: 'nn_nitti_grotesktext_regular';
}

#border{
    width: 100%;
}


#dragWrapper{
    width: 216px;
    height: 141px;
    background: #F1EDEB;
    bottom: 56px;
    left: 404px;
    border-radius: 9px;
    opacity: 0;
    transform: scale(1.213);
}

#dragText1{
    color: #000;
    font-size: 13px;
    left: 24px;
    bottom: 41px;
}

#dragText2{
    color: #000;
    font-size: 12px;
    left: 0px;
    top: 14px;
    width: 100%;
    text-align: center;
}

#dragText3{
    color: #000;
    font-size: 13px;
    left: 0;
    top: 56px;
    width: 100%;
    text-align: center;
}

#price{
    color: #EA650E;
    left: 0px;
    top: 28px;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

#dragBar{
    width: 168px;
    height: 6px;
    background: #fff;
    bottom: 30px;
    left: 50%;
    border-radius: 200px;
    transform: translateX(-50%);
}

#bar{
    height: 6px;
    background: #EA650E;
}

#dot{
    width: 11px;
    height: 11px;
    background: #EA650E;
    border-radius: 50%;
    top: -50%;
    left: -5px;
}

#priceBottom{
    color: #EA650E;
    left: -58px;
    top: 115px;
    width: 168px;
    text-align: center;
    font-size: 12px;
}

