body, body * {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: 'db_headregular';
    src: url('dbhead-regular-webfont.woff2') format('woff2'),
         url('dbhead-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'db_headblack';
    src: url('dbhead-black-webfont.woff2') format('woff2'),
         url('dbhead-black-webfont.woff') format('woff');
}

img, div, object, button{
    position: absolute;
}

#banner{
    width: 320px;
    height: 50px;
    border: 1px solid #ec0016;
    box-sizing: border-box;
    overflow: hidden;
    color: #282D37;
    font-family: 'db_headblack';
    background: #050611;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #FFF;;
    pointer-events: none;
    z-index: 1;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #282D37;
    border-top: 3px solid #EC0016;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#bg{
    height: 140px;
    top: -40px;
    left: 108px;
}

#reflection{
    width: 100%;
    height: 100%;
    background: #888;
    opacity: 0.2;
}

#train{
    width: 100%;
}

#snowBg{
    width: 100%;
    transform-origin: 70% 25%;
}

#snowFront{
    width: 100%;
    transform-origin: 70% 25%;
}

#snowWrapper{
    width: 100%;
    height: 100%;
}

.snow{
    background: #fff;
    border-radius: 50%;
}

#panel{
    width: 142px;
    height: 100%;
    background: #fff;
}

#logo{
    width: 17px;
    top: 6px;
    left: 6px;
}

#text1{
    top: 22px;
    left: 6px;
    font-size: 9px;
}

#redLine{
    width: 42px;
    height: 6px;
    bottom: 104px;
    left: 19px;
    border-radius: 200px;
    background: #EC0016;
}

#text2{
    top: 22px;
    left: 6px;
    font-size: 9px;
}

#uspWrapper{
    width: 100%;
    height: 46px;
    left: 0;
    top: 159px;
}

.uspContainer{
    position: relative;
    height: 22px;
}

.icon{
    width: 20px;
    left: 20px;
    top: -2px;
}

.uspText{
    font-family: 'db_headregular';
    left: 54px;
    font-size: 10px;
    top: 3px;
}

#cta{
    background: #EC0016;
    color: #fff;
    width: 47px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    left: 143px;
    bottom: 6px;
    border-radius: 3px;
    font-size: 5px;
}