body, body * {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: 'db_headregular';
    src: url('dbhead-regular-webfont.woff2') format('woff2'),
         url('dbhead-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'db_headblack';
    src: url('dbhead-black-webfont.woff2') format('woff2'),
         url('dbhead-black-webfont.woff') format('woff');
}

img, div, object, button{
    position: absolute;
}

#banner{
    width: 1920px;
    height: 1080px;
    border: 1px solid #ec0016;
    box-sizing: border-box;
    overflow: hidden;
    color: #282D37;
    font-family: 'db_headblack';
    background: #050611;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #FFF;;
    pointer-events: none;
    z-index: 1;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #282D37;
    border-top: 3px solid #EC0016;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#bg{
    height: 936px;
    top: -310px;
    left: 598px;
}

#reflection{
    width: 100%;
    height: 100%;
    background: #888;
    opacity: 0.2;
}

#train{
    width: 100%;
}

#snowBg{
    width: 100%;
    transform-origin: 50% 50%;
}

#snowFront{
    width: 100%;
    transform-origin: 50% 50%;
}

#snowWrapper{
    width: 100%;
    height: 100%;
}

.snow{
    background: #fff;
    border-radius: 50%;
}

#panel{
    width: 540px;
    height: 586px;
    bottom: 246px;
    left: 30px;
    background: #fff;
    border-radius: 12px;
}

#logo{
    width: 181px;
    top: 65px;
    left: 65px;
}

#text1{
    top: 234px;
    left: 65px;
    font-size: 47px;
    line-height: 61px;
}

#redLine{
    width: 192px;
    height: 23px;
    bottom: 54px;
    left: 65px;
    border-radius: 200px;
    background: #EC0016;
}

#text2{
    top: 234px;
    left: 65px;
    font-size: 47px;
    line-height: 61px;
}

#uspWrapper{
    width: 557px;
    height: 263px;
    left: 62px;
    top: 561px;
}

.uspContainer{
    position: relative;
    height: 90px;
}

.icon{
    width: 69px;
    left: 0px;
    top: 0px;
}

.uspText{
    font-family: 'db_headregular';
    left: 131px;
    font-size: 36px;
    top: 9px;
}

#cta{
    background: #EC0016;
    font-family: Montserrat;
    color: #fff;
    width: 559px;
    height: 127px;
    line-height: 127px;
    text-align: center;
    left: 64px;
    bottom: 64px;
    border-radius: 16px;
    font-size: 36px;
}