body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 300px;
    height: 250px;
    overflow: hidden;
    color: #fff;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #fff;;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #00a2e7;
    border-top: 3px solid #ff0000;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#border{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    top: 0;
}

#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 999;
}

#bg3,
#bg4,
#bg1,
#bg2{
    width: 100%;
}

#logo{
    width: 72px;
    top: 16px;
    right: 16px;
}

#blueCircle{
    background: #009fdf;
    width: 140%;
    height: 190%;
    top: 163px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: "center bottom";
}

#mainProduct{
    width: 100%;
}

#text5Wrapper,
#text6Wrapper,
#text3Wrapper,
#text4Wrapper,
#text1Wrapper,
#text2Wrapper{
    width: 100%;
    height: 100%;
}

#text5Wrapper img,
#text6Wrapper img,
#text3Wrapper img,
#text4Wrapper img,
#text1Wrapper img,
#text2Wrapper img{
    width: 100%;
}

#highlight5Wrapper,
#highlight6Wrapper,
#highlight3Wrapper,
#highlight4Wrapper,
#highlight1Wrapper,
#highlight2Wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#highlight5Wrapper img,
#highlight6Wrapper img,
#highlight3Wrapper img,
#highlight4Wrapper img,
#highlight1Wrapper img,
#highlight2Wrapper img{
    width: 300px;
}

#cta,
#ctaBorder{
    width: 100%;
    transform-origin: 50% 227px;
}

#badge{
    width: 100%;
    transform-origin: 202px 90px;
}