body, body * {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: 'db_headregular';
    src: url('dbhead-regular-webfont.woff2') format('woff2'),
         url('dbhead-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'db_headblack';
    src: url('dbhead-black-webfont.woff2') format('woff2'),
         url('dbhead-black-webfont.woff') format('woff');
}

img, div, object, button{
    position: absolute;
}

#banner{
    width: 160px;
    height: 600px;
    border: 1px solid #ec0016;
    box-sizing: border-box;
    overflow: hidden;
    color: #282D37;
    font-family: 'db_headblack';
    background: #050611;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #FFF;;
    pointer-events: none;
    z-index: 1;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #282D37;
    border-top: 3px solid #EC0016;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#bg{
    height: 250px;
    top: -80px;
}

#reflection{
    width: 100%;
    height: 100%;
    background: #888;
    opacity: 0.2;
}

#train{
    width: 100%;
}

#snowBg{
    height: 100%;
    transform-origin: 50% 25%;
}

#snowFront{
    height: 100%;
    transform-origin: 50% 25%;
}

#snowWrapper{
    width: 100%;
    height: 100%;
}

.snow{
    background: #fff;
    border-radius: 50%;
}

#panel{
    width: 100%;
    height: 105px;
    bottom: 0px;
    background: #fff;
}

#logo,
#logoWhite{
    width: 57px;
    top: 18px;
    left: 20px;
}

#text1{
    top: 19px;
    left: 20px;
    font-size: 14px;
    line-height: 18px;
}

#redLine{
    width: 45px;
    height: 6px;
    bottom: 13px;
    left: 20px;
    border-radius: 200px;
    background: #EC0016;
}

#text2{
    top: 15px;
    left: 20px;
    font-size: 14px;
    line-height: 18px;
}

#uspWrapper{
    width: 100%;
    height: 133px;
    left: 0;
    top: 117px;
}

.uspContainer{
    position: relative;
    height: 48px;
}

.icon{
    width: 27px;
    left: 19px;
    top: 3px;
}

.uspText{
    font-family: 'db_headregular';
    left: 56px;
    font-size: 14px;
    line-height: 16px;
}

#cta{
    background: #EC0016;
    color: #fff;
    width: 120px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    left: 20px;
    bottom: 18px;
    border-radius: 5px;
    font-size: 12px;
}