body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 320px;
    height: 50px;
    overflow: hidden;
    background: #d9e6b1;
    color: #fff;
}

#border{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #d9e6b1;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #c51718;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#brochure{
    width: 100%;
    transform: rotate(0deg);
}

#introBg{
    width: 100%;
}

#logo{
    width: 32px;
    left: 6px;
    top: 6px;
}

#text2,
#text2Highlight,
#text1,
#text1Highlight{
    width: 320px;
}

#text2HighlightWrapper,
#text1HighlightWrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#tagline{
    width: 100%;
}

#endText{
    width: 100%;
}

#ctaLeft,
#ctaRight{
    width: 100%;
}

#topic1,
#topic2,
#topic3{
    width: 100%;
}

#sticker{
    width: 100%;
    transform-origin: 214px 26px;
}