@font-face {
  font-family: 'Mont-ExtraLight';
  src: url('../fonts/Mont-ExtraLight.woff2') format('woff2'),
       url('../fonts/Mont-ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont-Heavy';
  src: url('../fonts/Mont-Heavy.woff2') format('woff2'),
       url('../fonts/Mont-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}