@import './styling/reset.scss';
@import './styling/fonts.scss';


.background{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(58,144,180,1) 50%, rgba(252,176,69,1) 100%);
}


h3{
  font-family: 'Mont-ExtraLight';
  font-size: 12px;
}
.skillsTicker{
  position: fixed;
  z-index: 10;
  top: 0px;
  left:0;
  width: 100%;
  height: 50px;
  background-color: rgba($color: #000000, $alpha: 0.3);
  display: flex;
  justify-content: start;
  align-items: center;


  .skillsTickerItemContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 17px;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-family: 'Mont-Heavy';

    span{
      white-space: nowrap;
      color: #fff;
    }
  }


  span::before{
    content: "\00B7";
    position: relative;
    margin-right: 15px;
    width: 15px;
    height: 15px;
  }
}

.contentContainer{
  position: relative;
  width: 100%;
  height: auto;
  left:50%;
  top: 50%;
  transform: translate(-50%, 0%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .heroContentContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0px 0;
    background-color: #efefef;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap:40px 0;
    align-items: center;
    .skillsBackgroundImage{
      position: relative;
      object-fit: cover;
      width: 100%;
      height: 100vh;
    }

    
  }


  .heroCopyContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #2f2f2f;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    max-width: 1200px;

    .headline{
      // opacity: 0;
      transform: scale(1);
      white-space: nowrap;
      overflow: hidden;
      background-color: #fff;

      .title01{
        opacity: 1;
        // display: inline-block;
      }
      .title02{
        opacity: 1;
        // display: inline-block;
      }
      .title03{
        opacity: 1;
        // display: inline-block;
      }
    }

    h2{
      font-family: 'Mont-Heavy';
      font-size: 2vw;
    }

    h1{
      font-family: 'Mont-Heavy';
      font-size: min(10vw, 128px);
      // background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .teamContainer{
    .teamContainerInner{
      position: absolute;
      width: 100%;
      height: 50%;
      background: linear-gradient(180deg, #EBD0F8 0%, rgba(235, 208, 248, 0.00) 100%);
    }


    position: relative;
    width: 100%;
    // height: 100vh;
    padding: 0 0 50px 0;
    background-color: #fff;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap:40px 0;
    align-items: center;
    // padding-top: 45px;

    // max-width: 1200px;
    h1{
      position: relative;
      padding-top: 50px;
      color: #000;
    }

    .teamOverviewContainer{
      display: flex;
      flex-direction: row;
      max-width: 1200px;
      flex-flow: wrap;
      gap: 35px 50px;
      align-items: center;
      justify-content: center;
      margin-top:35px;
      position: relative;

      .teamMember{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .memberName{
          font-family: 'Mont-Heavy';
          font-size: 12px;
          margin-top: 5px;
        }
        .memberImage{
          // margin-bottom: 10px;
        }
        
      }
    }

    h2{
      font-family: 'Mont-Heavy';
      font-size: 2vw;
    }

    h1{
      font-family: 'Mont-Heavy';
      font-size: min(10vw, 128px);
      // background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;

    }
  }
  .skillsContainer{
    width: 100%;
    // height: 100vh;
    background-color: #F9F9F9;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px 0;
    padding: 50px 0px;
    box-sizing: border-box;


    .skillsInnerContainer{
      max-width: min(95%, 1200px);
      display: flex;
      flex-direction: row;
      gap: 40px;
    }
    
    .skillsBackgroundImage{
      opacity: 0.6;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    h1{
      max-width: 1200px;
      font-family: 'Mont-Heavy';
      font-size: min(6.5vw, 78px);
      // background: linear-gradient(to right, #30CFD0 0%, #fff 100%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }

    .titleContainer{
      
      // margin-top: 25px;
      color: #000000;
      position: relative;
      max-width: min(95%, 1200px);
      display: flex;
      flex-direction: column;
      align-self: center;
      h1{
        color: #000000;
      }
      p{
        color: #000000;
        font-family: 'Mont-Heavy';
      }
    }

    .skillsWrapper{
      width: 100%;
      max-width: min(95%, 1200px);
      flex-flow: wrap;
      gap: 40px 30px;
      align-items: start;
      justify-content: start;
      margin-top: 35px;
      display: flex;
      flex-direction: column;
      align-self: center;
      position: relative;

      .skillType{
        width: 100%;
        max-width: min(95%, 1200px);
        flex-flow: wrap;
        gap: 15px 15px;
        align-items: start;
        justify-content: start;
        display: flex;
        flex-direction: column;
        align-self: center;
        position: relative;
        flex-direction: row;

        .skillTitle{
          width: 100%;
          color: #000000;
          font-family: 'Mont-ExtraLight';
        }
        .skill{
          border-radius: 31.928px;
          background: linear-gradient(262deg, #F544AC -27.84%, #CD2FCB 8.91%, #8B0EFE 68.43%, #34A6E4 113.25%);
          padding: 15px 30px;
          color: #fff;
          font-family: 'Mont-Heavy';
          cursor: pointer;
          font-size: max(0.7vw, 15px);
        }

      }

      
    }
  }
}