body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #167b47;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #14215a;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#scaler{
    width: 1200px;
    height: 1200px;
    left: 0px;
    overflow: hidden;
    color: #fff;
    background: #167b47;
}

#extraScaler{
    width: 1200px;
    height: 1200px;
    pointer-events: none;
    transform-origin: 0px 0px;
}

#border{
    width: 100%;
    height: 100%;
    border: solid 1px #000;
    box-sizing: border-box;
}

#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#endStars,
#productStars,
#introWrapper,
.productDisclaimer,
.product,
#date,
.productInfo,
#ctaLeft,
#ctaRight,
#intro1,
#endText,
#tagline,
#intro2,
#intro4,
#intro3{
    width: 100%;
    height: 100%;
}

#intro1{ top: 236px;}
#intro2{ top: 436px;}
#intro3{ top: 636px;}
#intro4{ top: 836px;}

.introEmpty,
.introFill{
    width: 435px;
    left: 50%;
    transform: translateX(-50%);
}

#bgWrapper{
    width: 100%;
    height: 100%;
    right: 0;
    overflow: hidden;
}

#bg{
    width: 1200px;
    right: 0;
}

#endHighlight1Wrapper,
#endHighlight2Wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#endHighlight1,
#endHighlight2{
    width: 1200px;
}

#productBg{
    width: 100%;
    height: 100%;
    background: rgb(23,125,70);
    background: linear-gradient(0deg, rgba(23,125,70,1) 0%, rgba(36,148,60,1) 100%);
    right: 0;
}

.productWrapper{
    width: 100%;
    height: 100%;
}

.productInfo{
    transform-origin: 698px 974px;
}

#endBg{
    width: 100%;
    height: 100%;
    background: #167b47;
    right: 0;
}

#logo{
    width: 108px;
    top: 31px;
    left: 31px;
}

#logo2{
    width: 209px;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
}