body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Bold.woff2') format('woff2'),
        url('ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Regular.woff2') format('woff2'),
        url('ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
}

.referenceImg{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    width: 300px;
    height: 250px;
    z-index: 33333;
}

#banner{
    width: 300px;
    height: 250px;
    overflow: hidden;
    color: #fff;
    font-family: 'Proxima Nova';
    font-weight: bold;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #fff;;
    pointer-events: none;
}


#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #00a2e7;
    border-top: 3px solid #ff0000;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#border{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    top: 0;
}

.blur{
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px) contrast(0.7);
    width: 300px;
    height: 250px;
    opacity: 0;
}

#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 999;
}

#logo{
    width: 73px;
    top: 13px;
    right: 12px;
}

#text1Wrapper{
    width: 100%;
    height: 100%;
}

#text1{
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 30px;
    letter-spacing: -0.8px;
    line-height: 30px;
}

.blueLineWrapper{
    position: relative;
}

.blueLine{
    width: 100%;
    height: 4px;
    bottom: 0px;
    background: #009fdf;
    left: -1px;
    z-index: -1;
}

#tesaWrapper{
    top: 93px;
    left: 128px;
    overflow: hidden;
}

#tesa{
    position: relative;
    width: 44px;
}

#tadaaWrapper{
    width: 100%;
    height: 100%;
}

#tadaa1{
    width: 30px;
    top: 120px;
    left: 78px;
}

#tadaa2{
    width: 23px;
    top: 117px;
    left: 108px;
}

#tadaa3{
    width: 23px;
    top: 114px;
    left: 131px;
}

#tadaa4{
    width: 22px;
    top: 118px;
    left: 157px;
}

#tadaa5{
    width: 28px;
    top: 122px;
    left: 178px;
}

#tadaa6{
    width: 17px;
    top: 117px;
    left: 205px;
}

#blueCircle{
    background: #009fdf;
    width: 140%;
    height: 190%;
    top: 163px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: "center bottom";
}

#leftProduct{
    width: 86px;
    top: 103px;
    left: 62px;
}

#rightProduct{
    width: 86px;
    right: 62px;
    top: 103px;
}

#mainProduct{
    width: 94px;
    top: 99px;
    left: 50%;
    transform: translateX(-50%);
}

#text2Wrapper,
#text3Wrapper{
    width: 100%;
    height: 53px;
    bottom: 161px;
}

#text2,
#text3{
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
}

#cta,
#ctaBorder{
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 11px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #fff;
    padding: 4px 6px;
    box-sizing: border-box;
}

#ctaBorder{
    color: transparent;
}