body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 320px;
    height: 50px;
    overflow: hidden;
    color: #fff;
    background: #00b6ed;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #00b6ed;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #c51718;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#border{
    width: 100%;
    height: 100%;
    border: solid 1px #c51718;
    box-sizing: border-box;
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#wText{
    bottom: -1px;
    right: 2px;
    font-family: Arial;
    font-size: 14px;
}

#product1{
    width: 100%;
    transform-origin: 0px 0px;
}

#product2{
    height: 100%;
    right: 0;
}

#product2Bg{
    width: 44%;
    height: 100%;
    right: -160px;
    background: #00b6ed;
}

#logo{
    width: 30px;
    left: 8px;
    top: 8px;
    transform-origin: 50% 0%;
}

#text1,
#text2,
#text3,
#text1Highlight,
#text2Highlight,
#text3Highlight{
    width: 320px;
    transform-origin: 45px 5px;
}

#text2Highlight{
    right: 0;
}

#text1HighlightWrapper,
#text2HighlightWrapper,
#text3HighlightWrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-origin: 45px 5px;
}

#payOffWrapper{
    width: 55px;
    height: 100%;
    left: 150px;
    overflow: hidden;
}

.payOff{
    width: 100%;
}

#text2HighlightWrapper{
    right: 0;
}

#ctaLeft,
#ctaRight{
    width: 100%;
}