video{
  position: absolute;
  width: 750px;
  height: 422px;
  visibility: hidden;
}

canvas{
  position: relative;
}

.carContainer{
  position: relative;
  /* background-color: red; */
}

button{
  margin-top: 15px;
  position: relative;
  /* top:600px; */
}

.scrubbarContainer{
  position: relative;
  height: 20px;
  width: 750px;
  /* background-color: yellow; */
}

.scrubBar, .scrubBarEmpty{
  position: absolute;
  height: 5px;
  width: 0%;
  top:50%;
  left:0%;
  transform: translate(0%, -50%);
  background-color: tomato;
}

.scrubBarEmpty{
  background-color: orange;
  width: 100%;
}

.scrubber{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top:50%;
  transform: translate(0, -50%);
  background-color: navy;
  cursor: pointer;
}