body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 300px;
    height: 250px;
    overflow: hidden;
    color: #fff;
    background: #00b8f3;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #00b8f3;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #0d2253;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#border{
    width: 100%;
    height: 100%;
    border: solid 1px #94c11c;
    box-sizing: border-box;
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#wText{
    bottom: -1px;
    right: 2px;
    font-family: Arial;
    font-size: 14px;
}

#bg{
    width: 100%;
}

#bgBorder{
    width: 284px;
    height: 186px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    top: 8px;
    box-shadow: 0px 0px 0px 3000px #00b8f3;
}

#logo{
    width: 42px;
    left: 16px;
    top: 16px;
    transform-origin: 0px 0px;
}

#tagline{
    width: 100%;
}

#text1,
#text2,
#text3,
#text1Highlight,
#text3Highlight{
    width: 300px;
}

#text1HighlightWrapper,
#text3HighlightWrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#sticker1{
    width: 100%;
    transform-origin: 110px 200px;
}

#sticker2{
    width: 100%;
    transform-origin: 200px 200px;
}

#tagWrapper{
    width: 0%;
    height: 100%;
    overflow: hidden;
}

#tag{
    width: 300px;
}

#ctaLeft,
#ctaRight{
    width: 100%;
}