body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 300px;
    height: 250px;
    overflow: hidden;
    color: #fff;
    background: #0d2253;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #0d2253;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #00b6ed;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#border{
    width: 100%;
    height: 100%;
    border: solid 1px #000;
    box-sizing: border-box;
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#wText{
    bottom: -1px;
    right: 2px;
    font-family: Arial;
    font-size: 14px;
}

#bg,
#tagline,
#ctaLeft,
#ctaRight,
.text{
    width: 100%;
}

.highlightWrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.highlight{
    width: 300px;
}

#stickerWrapper,
#stickerOverlayWrapper{
    width: 98px;
    height: 110px;
    overflow: hidden;
    top: 289px;
    left: 101px;
    transform: rotate(-7deg);
}

#stickerWrapper{
    top: auto;
    bottom: 60px;
    transform: rotate(0deg);
}

#sticker{
    bottom: 0;
}

#stickerOverlay{
    width: 100%;
}

#sticker{
    width: 100%;
}

#gradient{
    opacity: 0;
    width: 90%;
    height: 200%;
    top: -50%;
    left: -150%;
    transform: rotate(-20deg);
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

#logo{
    width: 65px;
    transform-origin: 0px 0px;
    transform: scale(0.78461538461);
    left: 10px;
    top: 10px;
}