body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Regular.woff2') format('woff2');
    font-weight: normal;
}

#banner{
    width: 200px;
    height: 600px;
    overflow: hidden;
    color: #fff;
    font-family: 'Proxima Nova';
    font-weight: bold;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #fff;;
    pointer-events: none;
}


#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #00a2e7;
    border-top: 3px solid #ff0000;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#border{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    top: 0;
}

.blur{
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px) contrast(0.7);
    width: 200px;
    height: 600px;
    opacity: 0;
}

#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 999;
}

#logo{
    width: 105px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

#text1Wrapper,
#text2Wrapper{
    width: 100%;
    height: 100%;
}

#text1,
#text2{
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 21px;
    letter-spacing: -0.4px;
    line-height: 21px;
}

#disclaimer{
    width: 100%;
    text-align: center;
    bottom: 8px;
    font-size: 8.7px;
    line-height: 9px;
}

.blueLineWrapper{
    position: relative;
}

.blueLine{
    width: 100%;
    height: 4px;
    bottom: 0px;
    background: #009fdf;
    left: -1px;
    z-index: -1;
}

#tesaWrapper{
    top: 267px;
    left: 77px;
    overflow: hidden;
}

#tesa{
    position: relative;
    width: 44px;
}

#tadaaWrapper{
    width: 100%;
    height: 100%;
}

#tadaa1{
    width: 30px;
    top: 293px;
    left: 29px;
}

#tadaa2{
    width: 24px;
    top: 290px;
    left: 58px;
}

#tadaa3{
    width: 22px;
    top: 288px;
    left: 81px;
}

#tadaa4{
    width: 22px;
    top: 291px;
    left: 107px;
}

#tadaa5{
    width: 28px;
    top: 295px;
    left: 127px;
}

#tadaa6{
    width: 17px;
    top: 291px;
    left: 153px;
}

#blueCircle{
    background: #009fdf;
    width: 315%;
    height: 200%;
    top: 485px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: "center bottom";
}

#leftProduct{
    width: 100%;
}

#rightProduct{
    width: 100%;
}

#mainProduct{
    width: 100%;
}

#text3Wrapper{
    width: 100%;
    height: 53px;
    bottom: 275px;
}

#text3{
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 21px;
}

#cta,
#ctaBorder{
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 21px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #fff;
    padding: 4px 6px;
    box-sizing: border-box;
}

#ctaBorder{
    color: transparent;
}