body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 300px;
    height: 250px;
    overflow: hidden;
    color: #fff;
    background: #202B77;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #202B77;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #C51718;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#border{
    width: 100%;
    height: 100%;
    border: solid 1px #000;
    box-sizing: border-box;
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#wText{
    bottom: -1px;
    left: 2px;
    font-family: Arial;
    font-size: 14px;
}

#bgWrapper{
    background: red;
    width: 288px;
    height: 182px;
    top: 6px;
    left: 6px;
    border-radius: 8px;
    overflow: hidden;
}

#bg{
    height: 100%;
    left: 0;
}

#product1,
#product2,
#product3{
    height: 100%;
    right: 0;
}

#product1{
    transform-origin: 38px 84px;
}

#badge1,
#badge2,
#badge3,
#badge4,
#badge5,
#tagline,
#sticker,
#text2,
#ctaLeft,
#ctaRight,
#text1,
#badge,
#date{
    width: 100%;
}

#sticker{
    transform-origin: 255px 85px;
}

#highlight1Wrapper,
#highlight2Wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#highlight1,
#highlight2{
    width: 300px;
}

#endscreen{
    width: 100%;
    height: 100%;
    background: #202B77;
}

#logo{
    width: 45px;
    top: 12px;
    right: 12px;
}

#badgeBg{
    width: 94px;
    height: 109px;
    background: #c51718;
    top: 51px;
    border-radius: 0px 5px 5px 0px;
}

#badge1{
    transform-origin: 50px 75px;
}
#badge2{
    transform-origin: 50px 100px;
}
#badge3{
    transform-origin: 50px 115px;
}
#badge4{
    transform-origin: 50px 130px;
}
#badge5{
    transform-origin: 50px 147px;
}