body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('brandon_blk-webfont.woff2') format('woff2'),
         url('brandon_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('brandon_bld-webfont.woff2') format('woff2'),
         url('brandon_bld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('brandon_med-webfont.woff2') format('woff2'),
         url('brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.bold{
    font-family: 'brandon_grotesquebold';
}

#banner{
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: #adce6c;
    color: #fff;
    font-family: 'brandon_grotesquebold';
}

#border{
    width: 100%;
    height: 100%;
    border: 1px solid #00b6ed;
    box-sizing: border-box;
    
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #adce6c;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #000;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#wText{
    bottom: -2px;
    right: 2px;
    font-family: Arial;
    font-size: 13px;
}

#introBg{
    width: 100%;
}

#logo,
#logo2{
    width: 100%;
}

#text1{
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    text-transform: uppercase;
    font-size: 31.5px;
    line-height: 40px;
    white-space: nowrap;
}

.blueBg{
    position: relative;
}

.blueDiv{
    width: 100%;
    height: 83%;
    top: 5%;
    left: -8px;
    padding: 0px 8px;
    border-radius: 6px;
    background: #00b6ed;
    z-index: -1;
}

.productBg{
    width: 276px;
    height: 154px;
    background: #00b6ed;
    top: 84px;
    left: 12px;
    border-radius: 8px;
}

.productDate{
    font-family: 'brandon_grotesquemedium';
    right: 0px;
    top: 12px;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    padding: 0px 6px 0px 6px;
    border-radius: 3px 0px 0px 3px;
    background: #00b6ed;
}

.productPriceBlock{
    bottom: 18px;
    left: 18px;
    background: #c51718;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    transform-origin: 0% 100%;
}

.discount{
    width: 100%;
    position: relative;
    font-family: 'brandon_grotesqueblack';
    text-align: center;
    font-size: 15px;
}

.whiteBg{
    position: relative;
    background: #fff;
    color: #00005f;
    padding: 5px;
    border-radius: 7px;
}

.priceHeadText{
    position: relative;
    font-family: 'brandon_grotesqueblack';
    font-size: 11.4px;
    margin-bottom: -4px;
    padding-top: 4px;
}

.productName{
    position: relative;
    font-family: 'brandon_grotesqueblack';
    font-size: 17px;
    margin-bottom: -4px;
}

.weightWrapper{
    position: relative;
    margin-bottom: 4px;
    line-height: 11px;
}

.weight{
    position: relative;
    font-family: 'brandon_grotesqueblack';
    font-size: 11.2px;
}

.weightKG{
    position: relative;
    font-family: 'brandon_grotesquemedium';
    font-size: 11.2px;
}

.priceNew{
    position: relative;
    font-family: 'brandon_grotesqueblack';
    font-size: 44px;
    line-height: 32px;
}

.priceNew .small{
    font-size: 22px;
    position: absolute;
    top: -7px;
    margin-left: -10px;
}

.priceNew .star{
    font-size: 12px;
    top: -8px;
    position: relative;
}

.priceOld{
    font-family: 'brandon_grotesqueblack';
    right: 6px;
    bottom: 1px;
    font-size: 12px;
    text-decoration: line-through;
}

#tagline{
    width: 100%;
    text-align: center;
    font-size: 13.3px;
    top: 83px;
}

#endText{
    text-transform: uppercase;
    left: 21px;
    bottom: 57px;
    font-size: 26px;
    line-height: 28px;
}

#cta{
    width: 165px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    color: #00005b;
}

#ctaText{
    width: 89%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    background: #FFF;
    border-radius: 4px;
}

#arrowWrapper{
    width: 20%;
    right: 0px;
    height: 100%;
    background: #00b6ed;
    border-radius: 4px;
}

#arrow{
    width: 8px;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#stamp{
    width: 100%;
    transform-origin: 182px 153px;
}

#endAsset1,
#endAsset2{
    width: 100%;
}