body, body * {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: 'montserratbold';
    src: url('montserrat-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'montserratregular';
    src: url('montserrat-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
}

img, div, object, button{
    position: absolute;
}

#banner{
    width: 728px;
    height: 90px;
    border: 1px solid #333;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'montserratbold';
    color: #fff;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #1EBEBE;;
    pointer-events: none;
    z-index: 1;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #FFC801;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#bg{
    height: 100%;
    right: 0;
}

.guide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.6;
}

#intro{
    width: 197px;
    height: 75px;
    left: 158px;
    bottom: 5px;
    background: rgb(30, 190, 190);
    transform-origin: 0% 100%;
}

#introText{
    font-size: 14px;
    top: 6px;
    left: 9px;
    line-height: 1.15;
}

.logo{
    width: 108px;
    top: 50%;
    left: 25px;
    transform: translate(0%, -50%);
}

#op1{
    top: 42px;
    left: 18px;
}

#op2{
    top: 42px;
    left: 63px;
}

.logoBackground{
    width: 196px;
    height: 90px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

.optionWrapper div{
    position: relative;
}

.optionWrapper:hover .option{
    background: rgba(255, 200, 1, 0.5);
}

.option{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #287E7F;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
}

.option.yellow{
    background: #FFC801;
    border: 2px solid #fff;
}

.optionText{
    text-align: center;
    font-size: 8px;
    font-family: 'montserratregular';
}

#stickerWrapper{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFC801;
    top: 15px;
    left: 322px;
}

#stickerText{
    color: #000;
    text-align: center;
    width: 100%;
    font-size: 8.8px;
    line-height: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#uspScreen{
    width: 529px;
    height: 75px;
    left: 158px;
    bottom: 5px;
    display: none;
    opacity: 0;
    background: rgb(30, 190, 190);
    transform-origin: 0% 100%;
    cursor: pointer;
}

#uspText{
    font-size: 15px;
    top: 7px;
    left: 9px;
    line-height: normal;
}

.usp span{
    font-family: 'montserratbold';
}

.usp::before{
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #FFC801;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.usp{
    font-size: 9px;
    line-height: 1.15;
    font-family: 'montserratregular';
    width: 200px;
    left: 7px;
    padding-left: 20px;
    box-sizing: border-box;
}

#usp1{top: 34px;}
#usp2{top: 34px;left: 127px;}
#usp3{top: 34px;left: 265px;}

#disclaimer,
#disclaimer2{
    font-size: 8px;
    font-family: 'montserratregular';
    bottom: 5px;
    left: 12px;
}

#cta,
#cta2{
    width: 66px;
    height: 22px;
    background: #FFC801;
    color: #000;
    bottom: 21px;
    right: 45px;
    border-radius: 2px;
    cursor: pointer;
}

#cta{
    width: 75px;
    height: 21px;
    bottom: 22px;
    right: 40px;
}

.ctaText{
    font-size: 7px;
    left: 4px;
    line-height: 9px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'montserratregular';
}

.ctaText span{
    font-family: 'montserratbold';
}

.ctaArrow{
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
}

#questionScreen{
    width: 539px;
    height: 75px;
    left: 158px;
    bottom: 5px;
    display: none;
    opacity: 0;
    bottom: 5px;
    background: rgb(30, 190, 190);
    transform-origin: 0% 100%;
}

#questionScreen .option{
    width: 14px;
    height: 14px;
    margin-bottom: 0px;
}

#questionScreen .optionText{
    font-size: 6px;
}

#questionText{
    font-size: 15px;
    top: 6px;
    left: 9px;
    line-height: 1.25;
}

.questionWrapper{
    width: 110px;
}

.questionWrapper .optionWrapper{
    bottom: 0;
}

#op3{    
    left: 83px;
    top: -3px;
}
#op4{    
    left: 109px;
    top: -3px;
}
#op5{    
    left: 73px;
    top: -3px;
}
#op6{
    left: 103px;
    top: -3px;
}
#op7{
    left: 86px;
    top: -3px;
}
#op8{
    left: 114px;
    top: -3px;
}

.question{
    font-size: 7.5px;
    left: 11px; 
}

#q1Wrapper{
    top: 36px;
    height: 30px;
}

#q2Wrapper{
    top: 36px;
    height: 20px;
    left: 135px;
}

#q3Wrapper{
    top: 36px;
    height: 20px;
    left: 262px;
}