body{
    margin: 0;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('poppins-bold-webfont.woff2') format('woff2'),
         url('poppins-bold-webfont.woff') format('woff');
}

img, div, object{
    position: absolute;
}

#banner{
    width: 320px;
    height: 250px;
    border: 1px solid #50a8ae;
    box-sizing: border-box;
    overflow: hidden;
    color: #fff;
    background: #e7f6f7;
    font-family: 'poppinsbold';
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #243064;;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #50a8ae;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#bgWrapper{
    width: 200%;
    display: flex;
    -webkit-mask-image: url(arrow.svg);
    -webkit-mask-position: 0px 66px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: auto 226px;
    mask-image: url(arrow.svg);
    mask-position: 0px 66px;
    mask-repeat: no-repeat;
    mask-size: auto 226px;
}

#bg{
    position: relative;
}

#bg2{
    position: relative;
    transform: scaleX(-1);
    margin-left: -1px;
}

#logo{
    width: 82px;
    left: 10px;
    bottom: 12px;
}

#logoText{
    color: #243065;
    left: 35px;
    bottom: 8px;
    font-size: 6.6px;
}

#text1{
    color: #243065;
    left: 10px;
    font-size: 17px;
    line-height: 19px;
    top: 16px;
}

#cta{
    background: #ffbe00;
    color: #1c3661;
    border-radius: 1000px;
    width: 118px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    text-align: center;
    top: 86px;
    left: 10px;
}