body{
    margin: 0;
}

img, div, object{
    position: absolute;
}

#banner{
    width: 728px;
    height: 90px;
    overflow: hidden;
    color: #fff;
    background: #0d2253;
}

#loaderWrapper{
    width: 100%;
    height: 100%;
    background: #0d2253;
    pointer-events: none;
}

#loaderCenter{
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader{
    width: 50px;
    height: 50px;
    position: relative;
    border: 3px solid #fff;
    border-top: 3px solid #00b6ed;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#border{
    width: 100%;
    height: 100%;
    border: solid 1px #000;
    box-sizing: border-box;
}


#mainExit{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#cta,
#tagline,
#text2,
#text1,
#bg{
    width: 100%;
}

#bg{
    transform-origin: 60% 50%;
}

#highlight1Wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#highlight1{
    width: 728px;
}

#cta{
    transform-origin: 75% 50%;
}

#logo{
    width: 72px;
    bottom: 7px;
    right: 7px;
}

#logo2{
    width: 72px;
    bottom: 7px;
    left: 80px;
}